{#####################################
Override form
#####################################}
{% block form %}
    <form name="{{ name }}"
          action="{{ action|default('#') }}"
          method="{{ method|default('POST') }}" {{ multipart is defined ? ('enctype="multipart/form-data"')|raw }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="text-warning">({{ error.message }})</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{#####################################
Override rows
#####################################}
{% block choice_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.select(form), errors) }}
{% endblock %}

{% block text_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.input(form, 'text'), errors) }}
{% endblock %}

{% block textarea_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.textarea(form), errors) }}
{% endblock %}

{% block number_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.input(form,'number'), errors) }}
{% endblock %}

{% block email_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.input(form, 'email'), errors) }}
{% endblock %}

{% block password_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.input(form, 'password'), errors) }}
{% endblock %}

{% block file_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.label(form), m.file(form, 'Choise one or more images to upload'), errors) }}
{% endblock %}

{% block submit_row %}
    {% import ':Form:macros.html.twig' as m %}
    {{ m.render(m.labelWithoutName(form), m.input(form, 'submit', 'btn btn-primary mt-2'), true) }}
{% endblock %}
