<table class="table table-striped">

    <thead>
    <tr>
        <th>Id</th>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    </thead>

    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td><img src="data:image/png;base64,{{ product.image.toBase64 }}"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category.path }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>