{% extends '@Backend/base.html.twig' %}

{% set title = 'Products' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th></th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <img style="max-width: 50px; max-height: 50px;"
                         class="pull-right"
                         src="data:image/png;base64,{{ product.image.toBase64 }}">
                </td>
                <td>
                    <i class="fa fa-power-off {{ product.enabled ? 'text-success' : 'text-danger' }}"></i>
                    <a href="{{ path('backend_product_edit', {'productId' : product.id}) }}">{{ product.name }}</a>
                </td>
                <td>{{ product.category.path }}</td>
                <td>{{ product.price }}.-</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}