{% extends '@Frontend/products.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <img style="max-width: 200px; max-height: 200px;" src="data:image/png;base64,{{ product.image.toBase64 }}" class="img-thumbnail">
            {% for image in product.images %}
                <img style="max-width: 200px; max-height: 200px;" src="data:image/png;base64,{{ image.toBase64 }}" class="img-thumbnail">
            {% endfor %}

            <h5 class="card-title">
                <a href="#" class="card-link">{{ product.name }}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">[manufacturer]</h6>
            <p class="card-text">
                {{ product.description }}
            </p>

            <div>
                <button class="btn btn-primary" onclick="shoppingCart.add({{ product.id }})">
                    <i class="fa fa fa-cart-arrow-down"></i>&nbsp;&nbsp;
                    <b>{{ product.price|price }}</b>
                </button>
            </div>
            <div class="badge  {{ product.stockQuantity > 5 ? 'badge-success' : product.stockQuantity < 1 ? 'badge-danger' : 'badge-warning' }}">
                <i class="fa fa-database"></i>
                {{ product.stockQuantity }} in stock
            </div>
        </div>
    </div>
{% endblock %}